<div class="jumbotron">
  <mat-toolbar color="primary">
    <span>Date</span>
  </mat-toolbar>
</div>

<div class="container pt-5">
  <p>{{campaignOne.value | json}}</p>
  <mat-form-field class="example-form-field" appearance="outline">

    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
      <input matStartDate placeholder="Start Date" formControlName="start" (dateInput)="changeDate1('input',$event)"
        (dateChange)="changeDate1('change',$event)">

      <input matEndDate placeholder="End Date" formControlName="end" (dateInput)="changeDate2('input',$event)"
        (dateChange)="changeDate2('change',$event)">
    </mat-date-range-input>

    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>

    <mat-date-range-picker #campaignOnePicker>

      <mat-date-range-picker-actions>

        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
      </mat-date-range-picker-actions>

    </mat-date-range-picker>

  </mat-form-field>


</div>


<div class="container pt-5">
  <form [formGroup]="range">
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker" [min]="first" [max]="last" placeholder="range" (click)="change()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </form>


</div>

<p></p>
