<div class="jumbotron">
  <mat-toolbar color="primary">
    <span>Date </span>
  </mat-toolbar>
</div>


<div class="container">

</div>



<div class="container pt-5 date-range">


  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">

      <input matStartDate placeholder="Start Date" formControlName="start" (dateInput)="changeDate1('input',$event)"
        (dateChange)="changeDate1('change',$event)">

      <input matEndDate placeholder="End Date" formControlName="end" (dateInput)="changeDate2('input',$event)"
        (dateChange)="changeDate2('change',$event)">

    </mat-date-range-input>

    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker" type="time"></mat-datepicker-toggle>

    <mat-date-range-picker touchUi #campaignOnePicker>

      <mat-date-range-picker-actions>

        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
      </mat-date-range-picker-actions>

    </mat-date-range-picker>

  </mat-form-field>




</div>

<div class="container">
  <mat-form-field appearance="outline" [formGroup]="customrange">
    <mat-label>Start date</mat-label>
    <input matInput [matDatepicker]="picker1" formControlName="value1" (dateInput)="changeDate4('input',$event)"
      (dateChange)="changeDate4('change',$event)" [min]="first" [max]="last">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" [formGroup]="customrange">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="value2" (dateInput)="changeDate5('input',$event)"
      (dateChange)="changeDate5('change',$event)" [min]="first" [max]="last">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</div>




<!--<div class="container select pt-5">

  <form [formGroup]="range">
    <mat-form-field appearance="outline">
      <mat-label>Select the date</mat-label>
      <input matInput [matDatepicker]="picker" [min]="first" [max]="last" placeholder="date" formControlName="date"
        (dateInput)="changeDate3('range',$event)" (dateChange)="changeDate3('range',$event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>


    </mat-form-field>


  </form>

</div>-->


<div class="container table">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Calendar</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-calendar #calendar [selected]="selectedDate" (selectedChange)="dateChanged($event)"
        (dateChange)="dateChanged($event)"></mat-calendar>
    </mat-card-content>
  </mat-card>

</div>

<div class="container">

</div>







<br>
<br>